<form id="registerForm" name="registerForm">
    <label for="name">Name: </label>
    <input type="text" id="name" name="name" />
    <span id="nameMessage"></span>
    <label for="surname">Surname: </label>
    <input type="text" id="surname" name="surname" />
    <span id="surnameMessage"></span>
    <label for="login">Login: </label>
    <input type="text" id="login" name="login" />
    <label for="password">Password: </label>
    <input type="password" id="password" name="password" />
    <label for="passwordAgain">Password repeat: </label>
    <input type="password" id="passwordAgain" name="passwordAgain" />
    <input type="button" id="register" name="register" value="Register" />
</form>
<script src="../src/app/js/registerScript.js" type="text/javascript"></script>

